<li>
<a ><i class="glyphicon glyphicon-ok"></i> Sistema de Empenhos <i class="fa arrow"></i></a>
<ul class="nav nav-second-level">
    <li>
        <a href="/interests">Empenhos</a>
    </li>
    <li>
        <a href="/modalities">Cadastro de Materiais/Serviços</a>
    </li>
    <li>
        <a href="/companies">Cadastro das Empresas</a>
    </li>
</ul>
</li>