<li>
    <a ><i class="glyphicon glyphicon-ok"></i> Material Carga <i class="fa arrow"></i></a>
	<ul class="nav nav-second-level">
        <li>
            <a href="/appointments">Material Carga</a>
        </li>        
        <li>
            <a href="/assistent_appointments">Auxiliar - Material Carga</a>
        </li>
    </ul>
</li>
