<li>
    <a><i class="glyphicon glyphicon-ok"></i> Sistema Cautelas <i class="fa arrow"></i></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="/loans">Cautelas</a>
        </li>
        <li>
            <a href="/loans/pesquisa_cautelas">Pesquisar - Cautelas</a>
        </li>
    </ul>
</li>